footer{
    display: flex;
    justify-content: space-between;
    height: 5rem;
    align-items: center;
    margin: 1rem auto;
    background-color: #9F0D0D;
    padding: 2rem;
    color: #fff;
}

.email{
    font-family: 'Victor Mono', monospace;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 25rem;
    font-size: 1.3rem;
}
