.navBar,
.menuBar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    
}
#navBar{
    align-items: center;
    background-color: #D9D9D9;
    width: 90%;
    margin: 1rem auto;
    height: fit-content;
    color: #717171;
}

.menuBar{
    width: 50%;
    gap: 2rem;
    flex-wrap: wrap;
}