.navBar,
.menuBar{
    padding-top: 10px;
    margin-left: 1% ;
    margin-right: 1%;
    margin-bottom: 3%;

}
#navBar{
    align-items: center;
    background-color: #D9D9D9;
    width: 90%;
    margin: 1rem auto;
    height: fit-content;
    color: #717171;
}

.menuBar{
    display: flex;
    justify-content: space-between;
    gap: 20%;
    flex-wrap: wrap;
}

.Logo img{
    width: 150px ;
    height: 150px;
}