.Slide{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 4%;
    min-height: 400px;
}

.Servicos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    width: 100%;
}

.Titulo{
    font-size:xx-large;
    color:#717171 ;
    margin-bottom: 3% ;
    margin-top: 1%;
}

.cards-servicos{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 0.7rem;
    width: 100%;
}

.cards-servicos img{
    width: 300px;
    height: 180pX;
}

.card-servicos{
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    text-align: center;
    width: 400px;
    height: 500px;
    border-radius: 25px;
    background: #9F0D0D ;
    padding: 30px;
    color: white;
    margin-bottom: 5%;
}